html {
    height: 100%;
}

body {
    color: white;
    background: url("https://cdn.pixabay.com/photo/2017/10/30/03/44/space-2901400_960_720.jpg") no-repeat;
    background-size: cover;
}

#game {
    border: 1px solid white;
    width: 50%;
    margin-top: 5%;
    height: 400px;
    margin-left: 25%; 
    padding-top: 5%;
}

#timer {
    border: 1px solid red;
    height: 10%;
    width: 30%;
    margin-left: 35%;
    margin-bottom: 3%;
}

#wins-losses {
    border: 1px solid powderblue;
    height: 15%;
    width: 30%;
    margin-left: 35%;
    margin-bottom: 3%;
}

img {
    height: 60%;
    width: 40%;
    margin-left: 30%;
}

button {
    color: white;
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}