html {
    height: 100%;
}

body {
    color: white;
    background: url("https://cdn.pixabay.com/photo/2017/10/30/03/44/space-2901400_960_720.jpg") no-repeat;
    background-size: cover;
}

#game {
    position: relative;
    /* border: 1px solid white; */
    width: 50%;
    margin-top: 2%;
    height: 400px;
    margin-left: 25%; 
    /* padding-top: 5%; */
}

#timer {
    /* border: 1px solid red; */
    height: 10%;
    width: 30%;
    margin-left: 35%;
    margin-bottom: 3%;
    text-align: center;
    font-size: 2em;
}

h1 {
    font-family: 'Cute Font', cursive;
    background-color: black;
    opacity: .6;
    font-size: 6em;
    width:75%;
    margin-left: 12%;
    margin-top: 8%;
    text-align:center;
}

#start-button, #reset-button {
    /* border: 1px solid red; */
    width: 50%;
    position: absolute;
    bottom: 175px;
    left: 150px;
    
}

#start, #reset {
    font-family: 'Cute Font', cursive;
    width: 100%;
    background-color: black;
    opacity: .6;
    font-size: 2.5em;
    /* position: absolute; */
}

#question {
    font-size: 1.5em;
    width: 100%;
    text-align: center;
}

#choices {
    text-align: center;
}

.question-choices {
    font-size: 1em;
}

.question-choices:hover {
    background-color: black;
    opacity: .6;
}

#alert-text {
    font-size: 1.5em;
    text-align: center;
}

#answer {
    font-size: 1.5em;
    text-align: center;
}

h3 {
    margin-top: 3%;
}



/* #wins-losses {
    border: 1px solid powderblue;
    height: 15%;
    width: 30%;
    margin-left: 35%;
    margin-bottom: 3%;
} */

img {
    padding-top: 2%;
    /* height: 80%; */
    width: 40%;
    margin-left: 30%;
}

button {
    color: white;
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}